<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Robot controller</title>

  <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="mt-5">Robot Control</h1>
          <div class="row mt-5">
            <div class="col align-self-start col-lg-4"></div>
            <div class="col align-self-center col-lg-4">
              <button type="button" class="btn btn-primary btn-lg" id="up" style="width:100%;">
                &#8593;
              </button>
            </div>
            <div class="col align-self-end col-lg-4"></div>
          </div>
          <div class="row mt-1">
            <div class="col align-self-start">
              <button type="button" class="btn btn-primary btn-lg" id="left" style="width:100%;">
                &#8592;
              </button>
            </div>
            <div class="col align-self-center"></div>
            <div class="col align-self-end">
              <button type="button" class="btn btn-primary btn-lg" id="right" style="width:100%;">
                &#8594;
              </button>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col align-self-start"></div>
            <div class="col align-self-center">
              <button type="button" class="btn btn-primary btn-lg" id="down" style="width:100%;"  >
                &#8595;
              </button>
            </div>
            <div class="col align-self-end"></div>
          </div>




      </div>
    </div>
  <!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script type="text/javascript">
  $(function() {
    $(':button').bind('touchstart mousedown', function() {
      $.getJSON('http://0.0.0.0:5001/control_robot', {
        direction: $(this).attr('id'),
        mousedown: 1
      }, function(data) {
      } );
      return false;
    });
  });
  $(function() {
    $(':button').bind('touchend mouseup', 
      function() {
      $.getJSON('http://0.0.0.0:5001/control_robot', {
        direction: $(this).attr('id'),
        mousedown: 0
      }, function(data) {
      } );
      return false;
    });
  });
</script>

</body>

</html>
